body {
    font-family: 'Poppis', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.information {
    display: none;
}

.information.active {
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.information h1 {
    font-family: 'Name';
    font-size: 35px;
    letter-spacing: 8px;

    color: #fff;
    margin-bottom: 80px;
}

@font-face {
    font-family: 'Name';
    src: url(../fonts/name);
}

.information .description {
    width: 49%;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    height: 300px;
    overflow: auto;
    padding-right: 15px;
}

.carousel-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}